{% extends "master.html" %}
{% block content %}
{% load staticfiles %}
<div class='row text-center'>
    {% if product_details %}
    <div class='container'>
        <div class='card thumbnail'>
            <img class='img-responsive' src='{{product_details.image.url}}' alt='{{product_details.name}}' width='350'
                height='350' />
            <div class='card-body'>
                <h4 class='card-title'>{{product_details.name}}</h4>
                <p class='card-text'>{{product_details.description}}<br />{{product_details.fee}} vnđ</p>
            </div>
            <form action="{% url 'cart:cart_add' product_details.id %}" method="post">
                {% csrf_token %}
                <div class="form-inline">
                    <label>
                        <input type="radio" name="Th_don_gia" value="{{product_details.fee}}" checked /> size s
                        {{product_details.fee}}
                    </label>
                </div>
                <div class="post_text form-inline">
                    {{cart.quantity}}
                    <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-success" style="margin-left:10px">
                </div>
            </form>
        </div>
    </div>
    {% endif%}
</div>
{% endblock %}